{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/main.css" />
    <link rel="search" type="application/opensearchdescription+xml"          
        title="{% blocktrans %}{{ SITE_NAME }}{% endblocktrans %}" href="{% url opensearch %}" />
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}main/js/jquery.embedly.min.js"></script>
    <script src="{{ STATIC_URL }}main/js/jquery.timeago.js"></script>
    <script src="{{ STATIC_URL }}main/js/main.js"></script>
{% endblock %}
